<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">
    An engineer helping end users boost their productivity by minimizing friction in their development experience.‍
  </p>
  <p class="blog-bio">
    Just writing down whatever interests me in life.
  </p>
  <p class="socials">
    <a href="https://linkedin.com/in/atyiadam">
      <img class="linkedin-mode-moon" width="20" src="/assets/svg/linkedin-light.svg" alt="Linkedin"/>
      <img class="linkedin-mode-sunny" width="20" src="/assets/svg/linkedin-dark.svg" alt="Linkdin"/>
    </a>
    <a href="https://github.com/atyiadam">
      <img class="github-mode-moon" width="20" src="/assets/svg/github-light.svg" alt="Github"/>
      <img class="github-mode-sunny" width="20" src="/assets/svg/github-dark.svg" alt="Github"/>
    </a>
    <!-- <a href="https://twitter.com/atyis">
      <img class="twitter-mode-moon" width="20" src="/assets/svg/twitter-light.svg" alt="Twitter"/>
      <img class="twitter-mode-sunny" width="20" src="/assets/svg/twitter-dark.svg" alt="Twitter"/>
    </a> -->
    <a href="https://www.goodreads.com/user/show/114381199">
      <img class="goodreads-mode-moon" width="20" src="/assets/svg/goodreads-light.svg" alt="Goodreads"/>
      <img class="goodreads-mode-sunny" width="20" src="/assets/svg/goodreads-dark.svg" alt="Goodreads"/>
    </a>
  </p>
</div>
